body {
    padding: 0;
    margin: 0;
    background-color: antiquewhite;
}

body::-webkit-scrollbar {
    width: 15px;
    background: #121a43;
}

body::-webkit-scrollbar-track {
    border: 2px solid #eac8f3;
    box-shadow: inset 0 0 2px 2px rgba(44, 173, 238, 0.5);
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #1986db, #b41edabf);
    border-radius: 3px;
}

.page {
    padding: 10px;
    margin: 10px;
    background-color: rgb(245, 245, 245);
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px 5px black;
    min-width: 350px;
    min-height: 94vh;
    /* background-image: url('../static/water.jpg'); */
    background-size: cover;
    /* color: coral; */
}

select, input {
    width: 250px;
    height: 40px;
    font-size: large;
    text-align: center;
    background-color: coral;
    border: 2px solid black;
}

input {
    height: 34px;
}

.plots button {
    height: 40px;
    background-color: aqua;
    font-size: large;
}

.plot-item {
    /* border: 1px solid black; */
    width: max-content;
    /* border-radius: 5px;
    box-shadow: 2px 2px 4px black; */
    /* background-color: rgb(253, 216, 254); */
}

.lineplots {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, 350px);
}

.stat {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.MuiChartsAxis-directionY .MuiChartsAxis-label {
    transform: translateX(-12px) !important;
  }

div[class$='MuiResponsiveChart-container'] {
    /* для того чтобы а графиках был виден крупный ylabel */
    width: 600px;
}

.photo {
    display: flex;
    gap: 10px;
    /* height: 100%; */
    width: 100%;
    aspect-ratio: 1;
    position: relative;
    z-index: 0;
    overflow: auto hidden;
}

.photo-item {
    height: calc(100% - 4px);
}

.photo-item img {
    /* height: 100%; */
    flex: 1 0 100%;
    border: 1px solid black;
    border-radius: 3px;
    scroll-snap-align: center;
}

@media screen and (width < 1px) {
    .photo-item {
        overflow: auto hidden;
    }
}

.card {
    display: grid;
    margin: 10px;
    width: 100%;
    /* max-height: 500px; */
    position: relative;
    align-self: center;
    aspect-ratio: 1;
    margin-bottom: 140px;
}

/* @media screen and (width < 950px) {
    .card {
        width: calc(100% - 10px * 2);
    }
} */

.label-container {
    width: 100%;
    position: relative;
}

.label-item {
    text-align: center;
    font-size: x-large;
    background-color: rgb(144, 221, 242);
    border: #01080d 1px solid;
    /* border-radius: 10%; */
    width: calc(100% - 10px * 2 - 1px * 2);
    position: absolute;
    /* width: 50%; */
    /* top: 0; */
    /* left: 30%; */
    padding: 5px;
    padding-inline: 10px;
}

/* #photo-0-img {
    width: 192px;
    height: 256px;
} */

/* @media (orientation:landscape) {
    .photo-item #photo-0 {
        display: none;
    }
} */

    /* @media screen and (width < $media-width)
        overflow: auto hidden
        

        @media (orientation:landscape)
            #photo-0
                display: none */
